---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

a{
  color: #0078e7;
  &:hover{
    text-decoration: none;
  }
}

body, html{
  height: 100%;
  width: 100%;
  display: table;
  font-family: 'Merriweather', serif;
  line-height: 1.6;
}

center{
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}

.para{
  color: #666;
}

footer{
  color: #ccc;
}
