/*------------------------------------*\
    $NORMALISE
\*------------------------------------*/

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block;}
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0em; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fc0; color: #fff; text-shadow: none; }
::selection { background: #fc0; color: #fff; text-shadow: none; }


a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0em; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0em; border-top: 1px solid #ccc; margin: 1em 0em; padding: 0em; }
ins { background: #ff9; color: #000; text-decoration: none; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0em; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0em; padding: 0em 0em 0em 40px; }
dd { margin: 0em 0em 0em 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0em; padding: 0em; }

img { border: 0em; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0em; }

form { margin: 0em; }
fieldset { border: 0em; margin: 0em; padding: 0em; }
label { cursor: pointer; }
legend { border: 0em; *margin-left: -7px; padding: 0em; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0em; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] {padding: 0em; *width: 13px; *height: 13px; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0em; padding: 0em; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0em; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0em; background: #ccc; color: black; padding: 0.2em 0em; }

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  	 -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  		  box-sizing: border-box; 		  
 }
 /* Better Font Rendering =========== */
*{
  	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}