---
layout: default
---

  <center>

    {% include crown.svg %}

    <h1>Made in Bristol</h1>

    <p class="para">Informal front end developer meet-up in Bristol, UK.<br>
      Talking CSS, HTML, Javascript, SASS, LESS,<br>
      BEM, UX, Web Design and the digital process.<br>
      <em>All levels welcome.</em></p>

    {% include signup.html %}

    <footer>
      <a href="https://github.com/madeinbristol">Github</a> |
      <a href="https://twitter.com/madeinbris">Twitter</a> |
      <a href="http://meetup.com/made-in-bristol">Meetup</a>
    </footer>

  </center>
