/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
.btn {
	
	
	&:hover, &:focus {
		
	}

	&.disabled {
		
	}
	&--flipper{
		position: relative;
	    display: block;
	    top: 10%;
	    text-indent: -999em;
	    background-color: #47372d;
	    color: #ccb38f;
	    -webkit-transition: 0.15s ease-out;
	    -moz-transition: 0.15s ease-out;
	    -o-transition: 0.15s ease-out;
	    z-index: 2;
	    width: 13.5%;
	    background: url(/assets/img/pointing.png);
	    background-size: contain;
	    padding-top: 6%;
	    border: none;
	    margin: 0 auto;
	    opacity: 0.85;
	    outline: none;
	    &:hover, &:focus{
	    	opacity:1;
	    	-webkit-transition: 0.15s ease-out;
	    	-moz-transition: 0.15s ease-out;
	    	-o-transition: 0.15s ease-out;
	    }
	    &:active{
	    	transform:scale(0.975);
	    }
	    .active &{
	    	display:none;
	    }
	}
}