/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
.footer {
	text-align:center;
	background-color:#15100f;
	padding:4em 2em;
	color:$color-main;
	a{
		color:inherit;
		&:hover{
			color:#fff;
		}
	}
	&__heading{
		text-transform:uppercase;
		color:#fff;
	}
	
	&__embed{
		max-width:960px;
		margin:0 auto;
	}
}