/*    Fonts    */
@font-face {
  font-family: 'IM Fell DW Pica';
  src:  url('/assets/fonts/IM_Fell_DW_Pica.eot?') format('eot'), 
      url('/assets/fonts/IM_Fell_DW_Pica.woff') format('woff'), 
      url('/assets/fonts/IM_Fell_DW_Pica.ttf') format('truetype');
}
@font-face {
  font-family: 'Abril Fatface';
  src:  url('/assets/fonts/AbrilFatface-Regular.eot?') format('eot'), 
      url('/assets/fonts/AbrilFatface-Regular.woff') format('woff'), 
      url('/assets/fonts/AbrilFatface-Regular.ttf') format('truetype');
}
/*@font-face {
  font-family: 'IM Fell English';
  src:  url('./fonts/IM Fell En.eot?') format('eot'), 
      url('./fonts/IM Fell En.woff') format('woff'), 
      url('./fonts/IM Fell En.ttf') format('truetype');
}*/